@page
@model EstoqueWeb.Pages.PageUsuario.IndexModel
@{
    ViewData["Title"] = "Usuários";
}

<div class="container-crud">
    @if (TempData["Sucesso"] != null)
    {
        <div class="alert alert-success alert-temporaria show" role="alert">
            @TempData["Sucesso"]
        </div>
    }

    <h1 class="mb-4 text-primary">Usuários</h1>

    <p>
        <a asp-page="Create" class="btn btn-primary">
            <i class="fas fa-plus"></i> Novo Usuário
        </a>
    </p>

    <table class="table-crud">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Usuario[0].Nome)</th>
                <th>@Html.DisplayNameFor(model => model.Usuario[0].Email)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Usuario)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Nome)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-edit btn-action">
                            <i class="fas fa-edit"></i> Editar
                        </a>
                        <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-details btn-action">
                            <i class="fas fa-info-circle"></i> Detalhes
                        </a>
                        <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-delete btn-action">
                            <i class="fas fa-trash-alt"></i> Excluir
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>